body {
    font-family: "Times New Roman";
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h2 {
    font-size: 30px;
    clear: both;
}

.titulo-principal {
    font-size: 60px;
    text-align: center;
    color: #FAFFFC;
    background-color: #851944;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid #000;
    text-transform: uppercase;
}


p {
    font-family: "Crimson Text", sans-serif;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

main footer {
    background-color: inherit;
    color: inherit;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    margin-bottom: 70px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    clear: right;
    width: 15%;
    position: relative;
    top: 310px;
}

.minha-foto {
    position: absolute;
    top: 0px;
    right: 0px;
}

.minha-foto, .navegacao-site {
    border-bottom: 10px black solid;
    border-left: 10px black solid;
    box-sizing: border-box;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 70px;
}
aside h1 {
    font-size: 30px;
    margin: 25px;
}

nav a {
    text-decoration: none;
    color: #F2FFFC;
}

nav ul {
    list-style-type: none;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.icones-sociais li {
    display: inline-block;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
