body {
    font-family: "Times New Roman";
    background-color: #F2FFFC;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #FAFFFC;
    background-color: #851944;
}

h2 {
    font-size: 40px;
}

p {
    font-family: "Crimson Text", sans-serif;
    text-align: justify;
}